$navy: #173359;
$navy-gradient: linear-gradient(90deg, #173359 0%, #2C4396 100%);
$light-navy-gradient: linear-gradient(180deg,
  rgba(44, 67, 150, 0.97) 0%,
  #173359 100%);
$red-gradient: linear-gradient(180deg, #94295c 0%, #51241f 100%);
$navy-alpha: rgba(23, 51, 89, 0.8);
$light-gray: #DADADA;
$red: #FB4A59;
$black-alpha: rgba(0, 0, 0, 0.5);
$gray-alpha: rgba(115, 115, 115, 0.25);
$gray: #7d7d7d;

$font-size--9: 5vw;
$font-size--8: 4.5vw;
$font-size--7: 4vw;
$font-size--6: 3.5vw;
$font-size--5: 3vw;
$font-size--4: 2.5vw;
$font-size--3: 2vw;
$font-size--2: 1.5vw;
$font-size--1: 1vw;