@import "./variables";
@import "./mixins";

* {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  user-select: none;
  position: relative;
}

html,
body {
  font-family: "Tiempos Headline Regular", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: all ease 0.75s;
}

section {
  height: 100vh;
  width: 100%;
}

#animation-control,
#final {
  z-index: -1;
}



.mtb-3p {
  margin: 3% 0;
}

.ml-5p {
  margin-left: 5%;
}

.wh {
  width: 100%;
  height: 100%;
}

.fixed {
  position: fixed;
  height: 100%;
  width: 100%;
}

.absolute {
  position: absolute;
  height: 100%;
  width: 100%;
}

#triangle {
  width: 100%;
  bottom: 0;
  position: fixed;

  .triangle-n {
    position: absolute;
    border-top: solid 15px $navy;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    height: 2.5em;
  }

  .triangle-w {
    position: absolute;
    border-top: solid 15px white;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    height: 2.5em;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;

  @include screen("md") {
    flex-direction: column;
  }
}

.col {
  flex-direction: column;
}

.ai-flex-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ai-flex-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.jc-ai-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.jc-ai-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.jc-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.jc-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.t-75 {
  transition: 0.75s ease all;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.blue {
  width: 65vw;
  z-index: 10;
  color: $navy;
  text-align: justify;
  font-size: $font-size--3;

  @include screen("md") {
    width: 80vw;
    font-size: $font-size--5;
  }

  @include screen("xs") {
    font-size: $font-size--7;
  }
}

.white {
  width: 65vw;
  z-index: 10;
  color: white;
  text-align: justify;
  font-size: $font-size--3;

  @include screen("md") {
    width: 80vw;
    font-size: $font-size--5;
  }

  @include screen("xs") {
    font-size: $font-size--7;
  }
}

.static {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.background {
  height: 100%;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.w-50vw {
  width: 50vw;
  height: 100%;
}

.w-40vw {
  width: 40vw;
  height: 100%;
}

// IMAGES
// PROS
.defend {
  background-image: url("../assets/img/pros/defend.png");
}

.rally {
  background-image: url("../assets/img/pros/rally.png");
}

.uaap {
  background-image: url("../assets/img/pros/uaap.png");
}

.rally2 {
  background-image: url("../assets/img/pros/rally2.png");
}

.fr {
  background-image: url("../assets/img/pros/frjett.png");
}

.arms {
  background-image: url("../assets/img/pros/arms.png");
}

// CONS
.voice {
  background-image: url("../assets/img/cons/voice.png");
}

.owners {
  background-image: url("../assets/img/cons/owners.png");
}

.embrace {
  background-image: url("../assets/img/cons/embrace.png");
}

.tt {
  background-image: url("../assets/img/cons/tt.png");
}

.menu-btn {
  height: 1.25vw;
  width: 1.25vw;
  background-color: $gray-alpha;
  border-radius: 50%;
  margin: 3% 0.75%;
}

.active {
  background-color: $gray;
}

.mobile-div-wrapper {


  .mobile-div {
    width: calc(100vw/3);
    height: 100%;
  }

  .main-mob {
    z-index: 59;

    @include screen('md') {
      position: absolute;
      width: 60vw;
    }

    @include screen("xs") {
      width: 80vw;
    }
  }

  .mob-ft {
    @include screen('md') {
      position: absolute;
      width: 100vw;
    }
  }

}

.jc-fe-ai-fs {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

// TGDN MOBILE COMPONENTS
.iphone-components {

  .live-wrapper {
    width: 100%;

    #live {
      z-index: 99;
      background-image: url("../assets/img/phone/Live.png");
      width: 5vw;
      height: 3vw;
      cursor: pointer;

      @include screen('md') {
        width: 9vw;
        height: 6vw;
      }
    }
  }

  .save-wrapper {
    left: 90%;
    top: 0%;
    position: absolute;
    z-index: 99;

    @include screen('md') {}

    #save {
      z-index: 99;
      background-image: url('../assets/img/phone/ribbon.png');
      width: 2.5vw;
      height: 3.5vw;
      cursor: pointer;

      @include screen('md') {
        width: 4.5vw;
        height: 5.5vw;
      }
    }
  }

  .article-wrapper {
    width: 100%;

    #article {
      z-index: 69;
      background-image: url("../assets/img/phone/articles.png");
      background-position: center top;
      height: 27.5vw;
      cursor: pointer;

      @include screen('md') {
        height: 40vw;
        background-size: cover;
      }

      @include screen("xs") {
        height: 70vw;
      }
    }
  }

  .chat-wrapper {
    width: 100%;

    #chat {
      z-index: 99;
      background-image: url("../assets/img/phone/Chat.png");
      height: 5vw;
      cursor: pointer;

      @include screen('md') {
        height: 8vw;
      }

      @include screen("xs") {
        height: 12vw;
      }
    }
  }
}

.alpha {
  opacity: 0.7;
}

.m-0-auto {
  margin: 0 auto;
}

.final-div {
  .up-col {
    background-image: url("../assets/img/UpperCollage.png");
    width: 100vw;
  }

  .low-col {
    background-image: url("../assets/img/LowerCollage_optimized.png");
    width: 100vw;
  }
}

.lt-pos {
  background-position: left center;
  background-repeat: no-repeat;

  @include screen("md") {}

  @include screen("xs") {
    background-position: left top;
  }
}

.ctrl {
  z-index: 199;
  height: auto;

  button {
    color: white;
    background: transparent;
    font-family: "Tiempos Headline Regular", serif;
    border: none;
    font-size: 1em;
    opacity: 0.5;
    cursor: pointer;
    text-decoration: underline;
    padding: 2.5%;

    &:hover {
      opacity: 1;
    }
  }
}

// X btn 

.close-wrap {
  width: 100%;
}

.close {
  width: 1.5em;
  height: 1.5em;
  display: none;
  opacity: 0;

  @include screen('md') {
    opacity: 0.3;
    display: block;
    cursor: pointer;
  }
}

.close:hover {
  @include screen('md') {
    opacity: 1;
  }
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 1.5em;
  width: 2px;
  background-color: white;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}